#top {
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
}

#content {
    width: 90vw;
    align-self: center;
    justify-content: space-between;
    margin: 20px 0;
}

.bookmarkFileList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


