#root {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  display: flex;
  flex-direction: column;
}

.fill-space {
  flex: 1;
}

.vCenter {
  justify-content: center;
}

.hCenter {
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.divider {
  width: 100%;
  height: 2px;
  background: #5a5a5a;
}

.link {
  background: none;
  padding: 0;
  border: none;
}
.link:hover {
  color: #ec9d35;
}